body 
{
    margin: 0;
}

#inputField_v2
{
    position: absolute;
    resize: none;  
    background: none;

    border: none;
    outline: none;
    overflow: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    color: rgb(0, 0, 0);
    font-family:'open sans';
}

